#help .modal-dialog
{
  display: flex;
  justify-content: center;
}

.close
{
  font-size:31px;
  color:red;
  opacity:1;
}



.close:hover
{
  color:#e8061d;
}

#help .modal-content
{
  background-color:#020233;
  width:600px;
}

#help .digitimg
{
  width: 70%;
  height:80%;
  margin-top:5%;
  margin-left:15%;
  border-bottom:1px solid white;
  border-left: 1px solid white;
}

#help #helpimage2
{
  border-right:1px solid white;
  border-top:1px solid white;
}

#help .description
{
  margin-top:4%;
  margin-left:14%;
  width:75%;
}

.modal-header
{
  color: #2054a8;
  height:50px;
}

#help .modal-header
{
  display: flex;
}

#help .modal-header .close
{

}

#help .modal-title
{
  margin-top:-10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  color: white;
  margin-left:42%;
}

.help-body
{
  overflow-y: scroll;
  height:600px;
}

.help-body .holder
{
  color:white;
  font-family:'Ledger', serif;
  font-weight:900;
}

.help-body .nested
{
  font-family: 'Roboto Condensed', sans-serif;
	font-weight:100;
	font-size: 14px;
	color: #ffffff;
}


.help-body .headers
{
  color:#1036ce;
  font-weight: 700;
}

.help-body .thetitle
{
  color:black;
}

.help-body .carousel-control
{
  position: absolute;
  top:420px;
}

.help-body .bottom
{
  position: absolute;
  left:49%;
  color:#578adb;
}

#help .buttonimg
{
  height:30px;
  width:30px;
  border-radius: 12px;
}

#nameTab
{
  position: absolute;
  left:0%;
  top:20%;
}

#nameTab .modal-content
{
  
}

#nameTab .modal-body
{
  height:130px;
  padding: 0px 0px 0px 10px;
}

#nameTab .modal-dialog
{
  width:280px;
}

#nameTab input
{
  width:47%;
}

#nameTab .close
{
  margin-top:-1%;
  margin-right: 2%;
}

#nameTab p 
{
  margin-left:30%;
  margin-top:2%;
}

#nameTab input
{
  margin-left:45%;
}

#nameTab span 
{
  margin-left:5%;
}


#nameTab button
{
  font-size: 13px;
}

#nameTab .buttons
{
  margin-left:20%;
  margin-top:5%;
}


